.el-color-picker:hover:not(.is-disabled, .is-focused) .el-color-picker__trigger {
    border: none !important;
}

.el-color-picker__trigger {
    border: none !important;
}

.el-color-picker:focus-visible:not(.is-disabled) .el-color-picker__trigger {
    outline: none !important;
}

.el-color-picker__color {
    border-radius: 100%;
    border: none !important;
}

span.el-color-picker__color-inner {
    border-radius: 100%;
}

img.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
    /* background: rgba(141, 141, 141, 0.5); */
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d52;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    opacity: 0.2;
}

span.el-switch__core {
    background: var(--bg-5);
    --el-switch-border-color: transparent;
}

.el-switch.is-checked .el-switch__core {
    background-color: var(--bg-5) !important;
}

.el-switch.is-checked .el-switch__core .el-switch__action {
    background: var(--theme-color, #0084ff);
}

.el-slider__button{
    border-color: var(--theme-color, #0084ff) !important;
}
.el-slider__bar{
    --el-slider-main-bg-color: var(--theme-color, #0084ff);
}
.el-slider__runway{
    --el-slider-runway-bg-color:var(--theme-color_c);
}
.slider-demo-block {
    max-width: 600px;
    display: flex;
    align-items: center;
}

.slider-demo-block .el-slider {
    margin-top: 0;
    margin-left: 12px;
}

.slider-demo-block .demonstration {
    font-size: 14px;
    color: var(--el-text-color-secondary);
    line-height: 44px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.slider-demo-block .demonstration+.el-slider {
    flex: 0 0 70%;
}


.el-drawer.btt {
    width: 90%;
    border-radius: 10px;
    margin: 22px auto;
    max-width: 500px;
}

.text_color {
    color: var(--font-1);
}

.el-upload-dragger {
    --el-fill-color-blank: var(--theme-color_c, #0084ff1b);
}

.el-upload-dragger:hover,
.el-upload-dragger .el-upload__text em {
    --el-color-primary: var(--theme-color, #0084ff);
}

.el-pager li.is-active,
.el-pager li:hover {
    --el-pagination-hover-color: var(--theme-color, #0084ff);
}

.el-pager li,
.el-pagination button {
    background: transparent !important;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--theme-color,#0084ff);

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--theme-color,#0084ff), 0 0 5px var(--theme-color,#0084ff);
    opacity: 1.0;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    bottom: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: var(--theme-color,#0084ff);
    border-left-color: var(--theme-color,#0084ff);
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}