html[data-theme="light"],
html:root:not([theme="dark"]) {
    --bg-1: #fcfcfc;
    --bg-2: #ffffffa6;
    --bg-3: #ffffff96;
    --bg-4: #ffffffba;
    --bg-5: #00000014;
    --bg-6: rgba(255, 255, 255, 0.5);
    --bg-7: #ffffffa6;
    --bg-8: #00000038;
    --bg-9: #ffffff4d;
    --shadow-1: #00000033;
    --shadow-2: #afafafbd;
    --border-1: #e7e7e71f;
    --border-2: #dbdbdb;
    --border-3: #f5f5f5;
    --font-1: #181818;
}

html[data-theme="dark"]:root {
    --bg-1: rgb(41, 41, 41);
    --bg-2: #ffffffa6;
    --bg-3: #242424e0;
    --bg-4: #2e2e2ed9;
    --bg-5: #ffffff0d;
    --bg-6: rgba(30, 30, 30, 0.5);
    --bg-7: #2a2a2ab5;
    --bg-8: #ffffffa8;
    --bg-9: #232323e3;
    --shadow-1: #00000033;
    --shadow-2: #101010bd;
    --border-1: #e7e7e71f;
    --border-2: #4b4b4b;
    --border-3: #ffffff0d;
    --font-1: #dbdbdb;
}

html[data-minimal="minimal"] footer {
    color: var(--font-1);
}